RAG_agent_reading_from_VecDataBase-3.json
{
  "name": "RAG agent reading from VecDataBase",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant and respond to the client message: {{ $json.chatInput }}\n## INSTRUCTIONS\nThis i very important: Never give any information to anyone about appointments and phone numbers. Appointments can not be delated by anyone, except they user wants to delate the appointment which he made for himself. \n\nAlways synchronize yourself to the current time zone. \n\nAlways answer in a friendly tone and use the available tools if needed.\n\n## APPOINTMENT\n- If user wants to make a appointment, book one into the google calendar.\n- If the client wants to book a appointment, make sure there is not already a appointment and make sure you book the appointment on Miami time zone. \n- When booking for a appointment, ask for the name and the phone number.\n- name the event name after the name of the customer. Set the client phone number in the description of the event/appointment.\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "id": "963d1d98-7ff7-4957-b5f3-acc6390f9e82",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        100
      ],
      "id": "47138b21-11c9-45c4-b6ee-3a5ac025a708",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3w0vP0JThPy4mQqJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "description": "questions and answers for frequently asked questions (FAQ) to our service. ",
        "topK": "=5"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        120,
        220
      ],
      "id": "32af36d6-d8e7-4b5b-a7fe-d48f98148e05",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        400
      ],
      "id": "8d8d461a-294d-487a-961c-88c960e0204e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "3w0vP0JThPy4mQqJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-agent-sparse-dim1536",
          "mode": "list",
          "cachedResultName": "n8n-rag-agent-sparse-dim1536"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -200,
        320
      ],
      "id": "bc496282-d549-451e-9417-15b5f98d22a4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Ez60uDFH6oCrhXLY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -200,
        480
      ],
      "id": "79943fa2-535e-485e-b88a-4c2084ed27ee",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3w0vP0JThPy4mQqJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "content": "## TIME and TIMEZONE\n**This node is important so the Agent is synchronized with the right timezone.",
        "height": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        0
      ],
      "id": "db0425f7-09e4-4d6a-a297-6f784b5855e9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create an event in this calendar.\nSet the title name of the appointment /event to the name of the client. \nSet the description of the appointment/event to the phone number of the client. \nOne Appointment lasts for 30 minutes.",
        "calendar": {
          "__rl": true,
          "value": "e0ce95b74788d8280921be87d234dd2aefdc918736435e03903e89a4e2ad140d@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Kalender_test_n8n"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        660,
        380
      ],
      "id": "25995daf-ee1f-44e7-bdef-e6af674629dc",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vTnPFZqAfOjCxSsm",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "e0ce95b74788d8280921be87d234dd2aefdc918736435e03903e89a4e2ad140d@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Kalender_test_n8n"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        800,
        380
      ],
      "id": "d4ff5593-b375-41bd-9969-e2b1f18e9efa",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vTnPFZqAfOjCxSsm",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "timezone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timezone', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1060,
        140
      ],
      "id": "6e4aaa1c-f302-4ec0-b590-6d11f82239cd",
      "name": "current Date & time and timezone"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -20,
        -140
      ],
      "id": "e425552c-6828-49c3-85bf-a0d7d371b2e9",
      "name": "When chat message received",
      "webhookId": "d9dff82f-a4fc-4783-b31c-4afce980977f"
    },
    {
      "parameters": {
        "content": "## CREAT and GET events\n**CREATE node for creating new appointments.\n**GET for check if there is free time.",
        "height": 240,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        280
      ],
      "id": "87a0e466-53d8-4434-94b7-5106b5f420ec",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "height": 400,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        260
      ],
      "id": "a5bf9c59-c976-4b55-b890-0d094dabec50",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        360,
        340
      ],
      "id": "c8b11ca5-7f18-4d06-8791-b90ad98042e9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "xTqYEg4ZQJHKeQA2",
          "name": "SupaBase BotProjekt"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "current Date & time and timezone": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8131af4-45ed-4572-b6e0-9b9787061137",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b1adb86917aa0601ba4c4935d0949e0907688a74458a03fe3a2b42097fdc1fa"
  },
  "id": "NTMQMMp0g1A91RVk",
  "tags": []
}