VidGen_Upload.json
{
  "name": "VidGen&Upload",
  "nodes": [
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Creative, meaningful title for the video - short, concise and matching the content\",\n      \"minLength\": 5,\n      \"maxLength\": 80\n    },\n    \"prompt\": {\n      \"type\": \"string\",\n      \"description\": \"Detailed VEO3 prompt with Subject, Context, Action, Style, Camera Motion, Composition, Ambiance and Audio elements\",\n      \"minLength\": 50,\n      \"maxLength\": 2000\n    },\n    \"aspect_ratio\": {\n      \"type\": \"string\",\n      \"enum\": [\"16:9\"],\n      \"description\": \"Video aspect ratio - currently only 16:9 Landscape/Cinema supported\"\n    },\n    \"duration\": {\n      \"type\": \"string\",\n      \"enum\": [\"8s\"],\n      \"description\": \"Video duration in seconds - currently only 8s supported\"\n    }\n  },\n  \"required\": [\"title\", \"prompt\", \"aspect_ratio\", \"duration\"],\n  \"additionalProperties\": false\n}"
      },
      "id": "78444fe1-3289-4f2a-871b-03908ba47553",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1640,
        940
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Content: {{ $json['Video Content'] }}\nFormat: {{ $json.Format }}\nDuration: {{ $json['Duration'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert for VEO3 video prompts and video marketing. Create optimal parameters for high-quality video generation with Google's VEO3 model from user input, including a creative, appealing title.\n\nTITLE CREATION:\n- Factual and objective (5-80 characters)\n- Precisely describes the main content of the video\n- Factual and informative, without exaggeration\n- Uses neutral, descriptive language\n- Avoids emotional words like \"epic\", \"magical\", \"incredible\"\n- Professionally and seriously formulated\n\nTITLE CATEGORIES:\n- Action/Sport: \"Skier on Alpine slope\", \"Winter sports in the mountains\"\n- Dialog/Drama: \"Woman at train station\", \"Waiting scene in vintage setting\"\n- Nature/Landscape: \"Waterfall in rainforest\", \"Nature shot with water drops\"\n- Everyday/People: \"Chef in kitchen\", \"Work scene while cooking\"\n- Technology/Objects: \"Icicles melting\", \"Close-up of ice\"\n- Architecture: \"Modern building architecture\", \"Concrete building with organic forms\"\n\nVEO3 PROMPT STRUCTURE (use all relevant elements):\n\nMANDATORY ELEMENTS:\n- Subject: Main subject (person, object, animal, scenery)\n- Context: Background, setting, environment\n- Action: What happens, movements, actions\n\nOPTIONAL ELEMENTS (for better quality):\n- Style: Specific film styles (cinematic, film noir, documentary, 3D cartoon, realistic, action movie, etc.)\n- Camera Motion: dolly shot, tracking shot, aerial view, eye-level, top-down, low-angle, zoom in/out, pan shot, static shot\n- Composition: wide shot, close-up, extreme close-up, medium shot, over-the-shoulder, single shot, two shot\n- Ambiance: Color palette and lighting (warm golden tones, cool blue tones, natural sunlight, dramatic shadows, soft focus, shallow depth of field)\n- Audio: Dialogues (in quotation marks), Ambient Sounds, Music (VEO3 generates native audio!)\n\nTECHNICAL BEST PRACTICES:\n- Use descriptive adjectives and adverbs for clear images\n- For people: Specify facial details, emotions, clothing, body posture\n- For dialogues: Write exact words in quotation marks for perfect lip-sync\n- For realism: Mention physics, natural movements, realistic interactions\n- Camera work: Use professional film terminology\n- Lighting: Specify light sources and mood\n- Audio: Describe ambient sounds, music and spoken words\n\nASPECT RATIO INTELLIGENCE:\n- FAL.AI VEO3 currently supports ONLY 16:9 (Landscape) format\n- All videos are automatically created in 16:9 format\n- Optimize prompts for Landscape/Cinema presentation\n\nDURATION INTELLIGENCE:\n- FAL.AI VEO3 currently supports ONLY 8s duration\n- All videos are automatically created with 8s length\n- Optimize prompts for 8-second sequences\n\nAUDIO OPTIMIZATION (VEO3's strength!):\n- ALWAYS specify audio elements since VEO3 generates native audio\n- Dialogues: Exact words in quotation marks for perfect lip-sync\n- Ambient: Matching background sounds to the scene (wind, traffic, nature, etc.)\n- Music: Mood-appropriate description (energetic, melancholic, epic, upbeat, dramatic, etc.)\n- Sound Effects: Specific sounds (footsteps, doors, machines, etc.)\n\nSTYLE CATEGORIES (all optimized for 16:9 Landscape):\n- Cinematic: \"Cinematic style\", \"film noir\", \"documentary style\", \"movie scene\"\n- Animation: \"3D cartoon style render\", \"animated style\", \"stylized animation\"\n- Realistic: \"Photorealistic\", \"documentary footage\", \"natural lighting\"\n- Gaming: \"Video game aesthetic\", \"third-person view\", \"FPS perspective\"\n- Commercial: \"Advertisement style\", \"product showcase\", \"commercial photography\"\n- Action/Sport: \"Dynamic wide shots\", \"landscape cinematography\", \"widescreen action\"\n\nEXAMPLE PROMPTS (all optimized for 16:9 Landscape, 8s):\n\nAction/Sport:\nTitle: \"Skier on Alpine slope\"\nPrompt: \"Wide cinematic tracking shot following a professional skier carving down a pristine alpine slope. Camera positioned parallel to slope, capturing skier's full body and dramatic powder sprays against mountain landscape. Skier approaches from distance, passes camera at mid-range and continues down slope. As he passes, he shouts: 'I LOVE SKIING!' Audio captures swoosh of skis, wind rushing, clear English exclamation. Widescreen sports cinematography with motion blur, 8-second sequence showcasing pure skiing joy.\"\n\nDialog/Drama:\nTitle: \"Woman waiting at train station\"\nPrompt: \"Wide cinematic shot of a vintage train station with woman in 1940s dress walking through the bustling scene. Camera dollies alongside in medium wide shot, showing full environment and character. Steam rises from locomotives in background. She checks pocket watch while walking, worry visible on her face. Warm golden lighting filters through tall station windows. She whispers: 'He promised to be here.' Train announcements and steam hissing throughout. Film noir style, 8-second scene building dramatic tension.\"\n\nNature/Landscape:\nTitle: \"Waterfall in rainforest\"\nPrompt: \"Sweeping aerial establishing shot of a majestic waterfall cascading through lush rainforest. Camera starts wide, slowly moving closer to reveal mist and spray details. Full landscape visible with dense canopy and multiple water levels. Dappled sunlight filters through trees creating dynamic lighting. Natural sounds of rushing water, birds chirping, leaves rustling build throughout 8-second sequence. Documentary style with rich green tones and cinematic widescreen composition.\"\n\nEveryday/People:\nTitle: \"Chef preparing meal\"\nPrompt: \"Wide shot of a modern kitchen with chef enthusiastically preparing a meal. Camera circles around showing full cooking environment. Steam rises from multiple pans as chef juggles ingredients with theatrical flair. He declares with passion: 'Cooking is pure magic!' Sounds of sizzling, chopping, and upbeat background music. Bright, colorful lighting with warm kitchen ambiance. 8-second sequence capturing culinary excitement and energy.\"\n\nTransform the user input into a factual title and professional VEO3 prompt with maximum visual and audio quality. Consider all prompt elements for best possible results.\n\nIMPORTANT:\n- Create FIRST an objective, factual title without exaggeration\n- All videos are automatically created in 16:9 Landscape format with 8s duration\n- Optimize prompts accordingly for widescreen presentation and 8-second sequences\n- Title should factually describe what is shown in the video\n- Avoid emotional words like \"epic\", \"magical\", \"incredible\", \"spectacular\""
        }
      },
      "id": "6b7fa224-d30c-4acc-84ee-c458c20f2c89",
      "name": "Video Prompt Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1520,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "5791f2ee-9e4f-4eae-832f-42b091e6e118",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        3100,
        380
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key <YOUR-FAL.AI API KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.prompt }}\",\n  \"aspect_ratio\": \"{{ $json.output.aspect_ratio || '16:9' }}\",\n  \"duration\": \"{{ $json.output.duration || '8s' }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": false,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "2b7ed2cc-bd91-48f1-b2aa-1b77ea4350ae",
      "name": "Create VEO3 Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1796,
        675
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eabBT0dmQLUKYXFV",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "997b17c4-5e3c-48fa-8008-e44ead3556c2",
      "name": "Wait 30 seconds",
      "type": "n8n-nodes-base.wait",
      "position": [
        2016,
        675
      ],
      "webhookId": "1b6bbe9b-4bfe-4a77-8627-73a05db0de8c",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('Create VEO3 Video').first().json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key <YOUR-FAL.AI API KEY>"
            }
          ]
        },
        "options": {}
      },
      "id": "2e94296b-5207-43a8-afe7-4e330df2d838",
      "name": "Check VEO3 Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2236,
        600
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eabBT0dmQLUKYXFV",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e83af8f6-f0db-47fd-b41a-44c07929b186",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "3b7d8752-f0c7-4315-bb31-cf0345762ed0",
      "name": "Video completed?",
      "type": "n8n-nodes-base.if",
      "position": [
        2456,
        675
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('Create VEO3 Video').first().json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key <YOUR-FAL.AI API KEY>"
            }
          ]
        },
        "options": {}
      },
      "id": "69760626-baf5-45a9-abe9-86c1b17b893d",
      "name": "Get VEO3 Video URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2676,
        675
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eabBT0dmQLUKYXFV",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "1f53010b-9041-4849-9e87-387ab1f389f6",
      "name": "Download VEO3 Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2896,
        675
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "eabBT0dmQLUKYXFV",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.output.title }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1vSoD1qxddLRRotVVAZSLR4WDdAcv0q82",
          "mode": "list",
          "cachedResultName": "n8n_VideoCreations",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vSoD1qxddLRRotVVAZSLR4WDdAcv0q82"
        },
        "options": {}
      },
      "id": "54231111-a879-412d-902d-bf52089f40cd",
      "name": "Save Video to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3300,
        360
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5hVRve937UMVVByv",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Your video has been created!",
        "completionMessage": "=Your video \"{{ $('Merge').first().json.output.title }}\" has been successfully created!\nYou can access it here: {{ $json.webViewLink }}",
        "options": {}
      },
      "id": "a943c007-a670-419c-956d-7a95277892ab",
      "name": "Video Output",
      "type": "n8n-nodes-base.form",
      "position": [
        3520,
        400
      ],
      "webhookId": "7784e7d1-e01a-4b44-a6af-76811f3c5fca",
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "VEO3 Video Generator",
        "formDescription": "Currently only 16:9 and 8s videos are supported via fal.ai!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Video Content",
              "placeholder": "e.g. Magical waterfall in the rainforest",
              "requiredField": true
            },
            {
              "fieldLabel": "Format",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "16:9"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Duration",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "8 s"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Create Video",
          "path": "veo3-video-generator"
        }
      },
      "id": "ed6338f2-edcb-40d0-9f08-dd9c79345ab8",
      "name": "VEO3 Generator Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        1300,
        480
      ],
      "webhookId": "1dea6a1a-8699-4b7a-a1be-0eeb50a10cc1",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1448,
        970
      ],
      "id": "2c141cda-05f8-49da-bf5f-eb26d45058fa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Cizl1iplKlFvVjC7",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "id": "62e94b7e-b516-4cba-8a00-8179e743520f",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1300,
        960
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "Ud9F38AdjGp0vLgR",
          "name": "Anthropic account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Save Video to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 seconds": {
      "main": [
        [
          {
            "node": "Check VEO3 Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video completed?": {
      "main": [
        [
          {
            "node": "Get VEO3 Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check VEO3 Status": {
      "main": [
        [
          {
            "node": "Video completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VEO3 Video": {
      "main": [
        [
          {
            "node": "Wait 30 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VEO3 Video URL": {
      "main": [
        [
          {
            "node": "Download VEO3 Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download VEO3 Video": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VEO3 Generator Form": {
      "main": [
        [
          {
            "node": "Video Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Prompt Generator": {
      "main": [
        [
          {
            "node": "Create VEO3 Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Video Prompt Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Save Video to Google Drive": {
      "main": [
        [
          {
            "node": "Video Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Video Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51037747-6bad-42de-87ff-6548b9fc45a0",
  "meta": {
    "templateId": "4767",
    "templateCredsSetupCompleted": true,
    "instanceId": "5b1adb86917aa0601ba4c4935d0949e0907688a74458a03fe3a2b42097fdc1fa"
  },
  "id": "qGJd74HGtOtkCXAS",
  "tags": []
}